body{
    font-family: 'EB Garamond', serif;
}




.s{
    padding-left: 130px;
}


.part-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.part-1 img{
width: 300px;
padding-right: 10px;
}

.big-camera{
    padding-right: 200px;
    
}


.part-1 img:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
} 



/* part-2 */
.fas.star{
    color:#FB8200
 
 }
 
 .fas.empty{
     /* color: #f97c00ad; */
     color: #333
 }
 
 .fas{
     font-size: 12px;
 }
  .rating{
      padding-left: 5px  ;
  }
 
 
  
 
  .photo img{
     width: 300px;
     height: 200px;
     left: 210px;
     top: 1050.29px; 
     border-radius: 10px;
     /* box-shadow: 10px 10px 5px grey; */
  }
 
 
 
  .photo-frame{
      width: 300px;
      height: 400px;
      border: 2px solid gray;
       /* border-radius: 20px;
      background: #FFFFFF;
 box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 border-radius: 5px;  */
 box-shadow: 10px 10px 10px 10px grey;
 
  }
 
 
  .popular-collection{
      /* display: flex;
      flex-wrap: wrap; */
      /* justify-content: center; */
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 5em;
     /* padding-left: 50px; */
     padding-right: 10px;
      
  }
 
  .center{
      /* padding-left: 50%;
      margin-bottom: 50px; */
      text-align: center;
      margin-top: 50px;
  }

  .center:hover{
      color: aqua;
  }
 
 
 
  .anchor{
     text-decoration: none;
     background: linear-gradient(45deg, lightsalmon, tomato);;
     padding: 10px 10px;
     border-radius: 5px;
     color:black;
     font-weight: 700;
   
 }


 /* bonus part-3 */
 
 .photo-frame-2{
     width: 300px;
     height: 400px;
     border: 2px solid orange;
     border-radius: 10px;
     box-shadow: 10px 10px 10px 10px grey;
 }

 .photo-2 img{
     width:100% ;
     border-radius: 10px;
}


.photo-2 img:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}




 .photo-detail-2{
   
     width: 300px;
     top:0 ;
 }

 .h:hover{
     color: black ;
     background-color:aquamarine ;
     transform: scale(1.5);
     transition: transform 2s ease-in-out;
 }
.bonus{
    display: flex;
    
    /* padding-left: 300px; */
    justify-content:space-evenly ;
}


/* footer */

footer{
   
    background-color: black;
    color:aqua;
    width: 95%;
    padding: 10px;
    /* border: 25px solid navy; */
    margin: 20px;
    /* border-radius: 15px; */

    font-size: 15px;
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



/* media queries */

/* media queries for mobile devices */

@media only screen and (max-width:688px){
    .popular-collection{
       
        grid-template-columns: repeat(1,1fr);
       
    }

    .part-1{
        grid-template-columns: repeat(1,1fr);
        width: 10%;
    }

    .bonus{
        grid-template-columns:repeat(1,1fr) ;
        
       width: 1rem;
        
    } 

    .end{
        width: 70%;
    }

    /* .photo-album-2{
        grid-template-columns: repeat(1,1fr);
    } */
}


/* for tabs */
@media only screen and (min-width:688px) and (max-width:992px){

    .popular-collection{
        grid-template-columns: repeat(2,1fr);
    }

    .anchor{
        display: none;
    }
}

   